In [21]:
!pip install nbformat

Requirement already satisfied: nbformat in /home/linben/miniconda3/envs/asqlcell/lib/python3.11/site-packages (5.7.1)
Requirement already satisfied: fastjsonschema in /home/linben/miniconda3/envs/asqlcell/lib/python3.11/site-packages (from nbformat) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /home/linben/miniconda3/envs/asqlcell/lib/python3.11/site-packages (from nbformat) (4.17.3)
Requirement already satisfied: jupyter-core in /home/linben/miniconda3/envs/asqlcell/lib/python3.11/site-packages (from nbformat) (5.1.2)
Requirement already satisfied: traitlets>=5.1 in /home/linben/miniconda3/envs/asqlcell/lib/python3.11/site-packages (from nbformat) (5.8.0)
Requirement already satisfied: attrs>=17.4.0 in /home/linben/miniconda3/envs/asqlcell/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (22.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/linben/miniconda3/envs/asqlcell/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.19.3)
Requirement already satisfied: platformdirs>=2.5 in /home/linben/miniconda3/envs/asqlcell/lib/python3.11/site-packages (from jupyter-core->nbformat) (2.6.2)

In [2]:
import __main__

def get_value(variable_name):
    return getattr(__main__, variable_name, None)

def get_vars():
    dfs = {}
    for v in dir(__main__):
        dfs[v] = get_value(v)
    return dfs

from jinja2 import Template
template = Template('Hello {{ abc }} {{dd}}!')
template.render({'abc' : 'John Doe', 'dd':'lasdf'})
abc = 'aaaaa'
dd = 'sfadf'
aaaaa = 'bsafasd' 
Template('Hello {{ abc }} {{dd}}!').render(get_vars())

'Hello aaaaa sfadf!'

In [3]:
from asqlcell import SqlcellWidget
from nbformat import read, write, NO_CONVERT
from traitlets import Unicode
type(Unicode.metadata)
w = SqlcellWidget()
w

dict

In [31]:
%sql select histogram(C) from data.parquet

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   histogram("C")
0  {'key': [0.19, 0.2, 0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3, 0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4, 0.41, 0.42, 0.44, 0.45, 0.46, 0.48, 0.49, 0.5, 0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6, 0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7, 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8, 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9, 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.0, 1.01, 1.02, 1.03, 1.04, 1.05, 1.06, 1.07, 1.08, 1.09, 1.1, 1.11, 1.12, 1.13, 1.14, 1.15, 1.16, 1.17, 1.18, 1.19, 1.2, ...], 'value': [1, 11, 5, 5, 11, 14, 10, 8, 16, 18, 27, 15, 27, 7, 10, 8, 13, 11, 9, 8, 14, 9, 8, 1, 2, 3, 1, 2, 2, 4, 4, 10, 11, 4, 6, 1, 7, 8, 11, 3, 5, 5, 5, 4, 3, 11, 7, 7, 5, 4, 2, 3, 3, 3, 6, 4, 4, 7, 13, 11, 4, 3, 10, 4, 4, 7, 7, 4, 9, 12, 17, 10, 8, 20, 19, 26, 20, 31, 54, 49, 59, 57, 72, 64, 65, 79, 63, 54, 56, 51, 54, 55, 88, 79, 93, 103, 119, 110, 114, 113, ...]}

In [30]:
import pandas as pd
pd.set_option("max_colwidth", 1000)
import json
count=0
for s in str(a)[55:]:
    print(s, end="")
    count += 1
    if count % 11 == 0:
        print()
#json.loads(str(a)[55:])

      histo
gram("C")
0
  {'key': [
0.19, 0.2,
0.21, 0.22,
 0.23, 0.24
, 0.25, 0.2
6, 0.27, 0.
28, 0.29, 0
.3, 0.31, 0
.32, 0.33,
0.34, 0.35,
 0.36, 0.37
, 0.38, 0.3
9, 0.4, 0.4
1, 0.42, 0.
44, 0.45, 0
.46, 0.48,
0.49, 0.5,
0.51, 0.52,
 0.53, 0.54
, 0.55, 0.5
6, 0.57, 0.
58, 0.59, 0
.6, 0.61, 0
.62, 0.63,
0.64, 0.65,
 0.66, 0.67
, 0.68, 0.6
9, 0.7, 0.7
1, 0.72, 0.
73, 0.74, 0
.75, 0.76,
0.77, 0.78,
 0.79, 0.8,
 0.81, 0.82
, 0.83, 0.8
4, 0.85, 0.
86, 0.87, 0
.88, 0.89,
0.9, 0.91,
0.92, 0.93,
 0.94, 0.95
, 0.96, 0.9
7, 0.98, 0.
99, 1.0, 1.
01, 1.02, 1
.03, 1.04,
1.05, 1.06,
 1.07, 1.08
, 1.09, 1.1
, 1.11, 1.1
2, 1.13, 1.
14, 1.15, 1
.16, 1.17,
1.18, 1.19,
 1.2, ...],
 'value': [
1, 11, 5, 5
, 11, 14, 1
0, 8, 16, 1
8, 27, 15,
27, 7, 10,
8, 13, 11,
9, 8, 14, 9
, 8, 1, 2,
3, 1, 2, 2,
 4, 4, 10,
11, 4, 6, 1
, 7, 8, 11,
 3, 5, 5, 5
, 4, 3, 11,
 7, 7, 5, 4
, 2, 3, 3,
3, 6, 4, 4,
 7, 13, 11,
 4, 3, 10,
4, 4, 7, 7,
 4, 9, 12,
17, 10, 8,
20, 19, 26,
 20, 31, 54
, 49, 59, 5
7, 72, 64,
65, 79, 63,
 54, 56, 51
, 54, 55, 8
8, 79, 93,
103, 119, 1
10, 114, 11
3, ...]}

In [8]:
%%sql b
SELECT *
FROM data.csv
LIMIT 200

SqlcellWidget(data_range=(0, 10), index_sort=('', 0))